@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;700&display=swap');
@font-face {
  font-family: 'Garamond Premier Pro';
  src: url("Garamond Premier Pro Medium Caption.otf");
}
:root{
--color:white; 
}

body {
  margin: 0;
}
.division {
  margin: 0;
  /* box-sizing: border-box; */
  display: static;
  /* flex-direction: row;  */
  /* justify-content: space-around;  */
  /* align-items: center;  */
  position: fixed;
  background-color: white;
  top: 0;
  /* left: 0; */
  width: 1239px;
  z-index: 1000;
  padding-top: 30px;
  padding-bottom: 30px;
  /* height: 120px; */
  font-family: sans-serif;
  font-size: 16px;
  font-weight:normal;
}

.main-event {
  text-decoration: none;
  padding: 14px 16px;
  display: inline-block;
  padding-left: 100px;
  color: #af9453;
}

.half {
  margin: 0; /* Remove default margin */
}

.link {
  align-items: center;
  float: right;
  margin-top: 0px;
  padding-top: 0px;
  padding: 14px 16px;
  margin-left: auto;
}

.link a {
  /* color: #333; */
  text-decoration: none;
  /* font-weight: bold; */
  padding-left: 14px;
  padding-right: 14px;
  padding-bottom: 30px;
}

.color1{
  color: #af9453;
}

.color2{
  color: black;
}

.color3{
  color: black;
}

.color4{
  color: black;
}

.color5{
  color: black;
}

.heading{
  text-align: center;
  padding-top: 330px;
  padding-left: 300px;
  padding-right: 300px;
  color: white;
  font-size: 70px;
  letter-spacing: 15px;
  font-weight: lighter;
}

.container {
  width: 1239px;
  height: 1000px;
  display: static;
  position: static;
  background-image: url("images/image3.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 0px -170px;
  background-size: 1239px 1400px;
  
/*  this is where the magic happens:  */
  background-attachment: fixed;
}

.double-image-container {
  display: static;
  position: static;
  margin-top: 450px;
  background-color: white;
}

.left-image {
  display: inline-block;
  padding-right: 25px;
  padding-left: 55px;
  
}

.left-image img{
  width: 408px;
  height: 580px;
  text-align: center;
}

.right-image{
  display: inline-block;
  padding-top: 40px;
  padding-left: 30px;
  /* float: right; */
}

.txt1{
  position: absolute;
  font-family: sans-serif;
  font-size: 30px;
  color: white;
  letter-spacing: 15px;
  top: 1200px;
  left: 130px;
}

.division1{
  background-color: white;
  font-size: 50px;
  text-align: center;
  padding: 200px;
  padding-left: 275px;
  padding-right: 275px;
  font-family: 'Garamond Premier Pro';
  font-weight: 10;
  /* margin-bottom: 0px; */
  /* display: static;
  align-items: center;
  
  justify-content: center;
  
  position: relative; */
}

.quote{
  height: 30px;
  width: 40px;
  padding-bottom: 45px;
}

.end-txt{
  font-size: 23px;
  padding-top: 55px;
  color: #af9453;
}

.second {
  width: 1119px;
  height: 890px;
  /* margin-top: 1000px; */
  background-image:url("images/image2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 70px -10px;
  border: 60px solid white;
  background-color: white;
  
}
.flower-img{
  position: static;
  float: right;
  align-self: self-end;
  margin-top: 170px;
  display: static;
  flex: 1;
  width: 320px;
  height: 600px;
  margin-right: 70px;
}
.flower-box{
  display: static;
  margin: 60px;
  width: 100%;
  max-width: 1119px;
  height: 250px;
  background-color: #af9453;
  margin-top: 80px;
  margin-bottom: 40px;
}
.sec1{
  display: static;
  color: white;
  padding: 60px;
  margin-left: 110px;
  min-width: 50%;
}
.sec2{

}
.subsec1{
  text-align: center;
  padding: 20px;
  float: left;
}
.subsec2{
  text-align: center;
  padding: 20px;
  float: left;
}
.subsec3{
  text-align: center;
  padding: 20px;
  float: left;
}
